@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&display=swap');
:root {
    --paragraph-font: 'roboto', sans-serif;
    --primary-color:  #03045e;
    --secondary-color: #e9f1f5;
    --accent-color: #fa0707;
    --additional-accent-color: #fff;
    --heading-font: 'Open Sans', sans-serif;
    --paragraph-or-default-font: 'roboto', sans-serif;
    --navigation-background-color : #03045e;
    --navigation-link-color : #fff;
    --navigation-hover-link-color : #03045e;
    --navigation-hover-background-color :#fff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
    
  
body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

header{
  margin: 0 auto;
}

main{
  max-width: 960px;
  margin: 0 auto;
}
p {
  font-family: var(--paragraph-font);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
	align-items: center;
  padding: .5em;
}

header img {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
  height: 7rem;
  width: auto;
}

header nav {
  display: flex;
}

header nav a {
  color: var(--additional-accent-color);
  text-decoration: none;
  font-size: 100%;
  text-align: center;
  padding: .5em;
  width: 7em;
}

nav a:hover{
  border-radius: 5px;
  color: var(--navigation-hover-link-color);
  background: var(--navigation-hover-background-color);
}

.hero {
  position: relative;
  margin-top: .2em;
}

.hero img{
  display: block;
  background-position: center;
  width: 100%;
  height: 15rem;
}

.hero h1 {
  text-align: center;
  position: absolute;
  height: auto;
  top: 0;
  padding: 10px;
  color: var(--additional-accent-color);
  width: 100%;
}

article {
  color: var(--additional-accent-color);
  position: absolute;
  padding: 10px;
  margin-left: 25%;
  border: 1px solid var(--additional-accent-color);
  width: 50%;
  height: auto;
  top: 30%;
}

article p{
  font-size: 90%;
}


.neat img {
  float: right;
  width: 20%;
  opacity: 1;
  height: auto;
}

.section1, .section2 {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  margin-top: 5%;
}

.section1 h2, .section2 h2{
  padding: 1%;
  text-align: center;
}

.grid_container {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid_container > * {
  grid-row: 3/ 1;
  width: 100%;
}
.grid_container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.grid_container2 img{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5);
  width: 10em;
  height: auto;
}

.img_container {
  padding: 1%;
}
 
.img_container img{
  width: 150px;
  height: auto;
}

footer{
  width: 100%;
  display: flex;
  margin-top: 5%;
  background-color: var(--primary-color);
  color: var(--additional-accent-color);
  justify-content: space-around;
  align-items: center;
}
.navlinks{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.navlinks img{
  height:10%;
  cursor: pointer;
  width: 10%;
} 

.navlinks a{
  position: absolute;
  visibility: hidden;
} 


/*this styles our contact_Us page*/
main h3,h4{ 
  padding: 10px;
  margin-top: 2rem;
}


main p {
  padding: 2px;
}

main #heading{
  padding: 5px;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 25px;
  font-variant: small-caps;
}
main h4{
  margin-top: 2rem;
}

/* this css code styles the contact us page
this css code styles the form container and its element*/
.form_map_container{
  display: grid;
  padding: 10px;
  border: 5px solid var(--primary-color);
  flex-wrap: wrap;
  grid-auto-flow: column;
  background-color: var(--secondary-color);
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}

iframe {
  border: 0;
  padding: 3px;
  background-color: var(--primary-color);
}

.form_container{
  background-color: var(--secondary-color);
  width: 450px;
}

.form_container input{
  padding: 1em;
  margin: 5px;
  outline: none;
  border: none;
}

.form_container input:focus{
  border: 2px solid var(--primary-color);
}


#email {
  margin-left: 2.8em;
}

.form_container textarea{
  width: 280px;
}

.radio_container {
  margin-bottom: 2em;
}

.form_container #form_heading{
  font-variant: small-caps;
}

.contact_info_container{
  display: grid;
  padding: .5em;
  margin: 20px 0px 20px 0px;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  background-color:var(--secondary-color);
}

.contact_info_container h1, #form_heading{
  color: var(--primary-color);
  /* margin-top: .2em; */
  font-size: 20px;
  font-variant: small-caps;
}

.contact_info_container p{
  margin: 0;
  padding: 0;
}

.contact_details {
  background-color:var(--primary-color);
  border-radius: 5px;
  color: var(--additional-accent-color);
}

.contact_details h4{
  color: var(--additional-accent-color);
  margin-top: 0;
}

.form_container button{
  border: none;
  outline: none;
  padding: 1em;
  color: var(--additional-accent-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

/*this edit the three images and its elements*/
.workers_img {
  grid-column: 2;
  grid-row: 1/5;
}

figure {
  margin: 0;
  padding: .5em;
  display: inline-block;
}


/* trips css code here */
.trips_container{
  background-color:var(--secondary-color);
}


.trips_container p, a{
  padding: 1em;
  font-size: 20px;
}

.trips_description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trips_container figcaption{
  text-align: center;
}

.trips_description img {
  padding: 4px;
  border-radius: 10px;
  max-width: 300px;
  height: auto;
}

.trips_container table{
  margin-top: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.trips_container th{
  background-color: var(--primary-color);
  color: var(--additional-accent-color);
  font-variant: small-caps;
  font-size: 20px;
  padding: 1em;

}

.trips_container td{

  width: 300px;
  padding: 2em;
}
.trips_container td::before{
  content: "\2714"; /* checkmark symbol */
  font-size: 16px;
  color: green;

}

/* this styles the INDEX.HTML PAGE site */
.background-image {
  background-image: url('images/index.png');
  background-size: cover;
  background-position: center;
  height: 150vh; /* Make the background image full height */
  width: 100%; /* Make the background image full width */
  position: relative; /* Position the background image relative to its parent */
}


